.item {
    display: flex;
    flex-direction: row;
    margin: 45px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

.item img {
    width: 30%;
    height: 20%;
}

.itemName {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.itemName * {
    padding: 10px;
    text-align: center;
}

.item:first-child {
    margin-top: 90px;
}

.item *:last-child {
    text-align: end;
}