.item {
    display: flex;
    flex-direction: row;
    margin: 50px;
    margin-top: 100px;
    /* if switch picture buttons need to be fixed in place */
    height: 70vh;
}

.photos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    /* height: 550px; */
    /* height: 30%; */
    overflow: hidden;
}

.photos img {
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.buttons button {
    padding: 10px 23%;
    width: 46%;
    border-style: none;
    font-size: 25px;
    background-color: #461488;
    cursor: pointer;
    color: white;
    transition: .2s ease-in;
}

.buttons button:hover {
    background-color: #2d095e;
}

.specs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.specs * {
    text-align: center;
}

.specs :nth-child(3) {
    margin-top: 80px;
}

h1,
h4 {
    margin: 10px;
}